form.search_form ul#search_tokens {
	height:0px;
	padding:0px;
	margin:0px;
}

.search_shadow {
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.checklist.no-check li {
	text-indent:0px;
}

.checklist .controls {
	float:right;
	position:relative;
	top:-25px;
	width:200px;
	text-align:right;
}
.checklist.no-check .controls {
	top:0px;
}
.checklist .controls a, .checklist .controls a:hover {
	line-height:36px;
	color:#000;
	text-decoration:none;
	margin-left:10px;
}

.checklist .controls svg.icon {
	vertical-align:middle;
	height:24px;
	width:24px;
	position:relative;
	top:-3px;
}

.faded {
	opacity:0.25;
}

/*
Result list
*/

.notes {
	border: 1px solid #ffe082 ;
	color: #795548 ;
	background-color: #ffecb3 ;
	padding:10px;
	margin:0px;
}

/*ul.area_list {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}*/

ul.area_list li {
	list-style-type:none;
	padding:0px;
}
ul.area_list, ul.area_list li {
	max-width:100%;
	padding-left:0px;
	margin-left:0px;
	padding-right:0px;
}
ul.area_list li .area {
	font-size:14px;
	background-color:#005185;
	line-height:22px;
	padding:12px 10px;
	padding-right:20px;
}
ul.area_list li .area a {
	color:rgba(255,255,255,0.6);
	text-decoration:none;
}
ul.area_list li .area a:after {
	float:right;
	content:"view this area";
	text-decoration:underline;
	color:#FFF;
}