a {
	cursor: pointer;
}

form.search_form ul#search_tokens {
	height:0px;
	padding:0px;
	margin:0px;
}

.search_shadow {
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.checklist.no-check li {
	text-indent:0px;
}

.checklist .controls {
	float:right;
	position:relative;
	top:-25px;
	width:200px;
	text-align:right;
}
.checklist.no-check .controls {
	top:0px;
}
.checklist .controls a, .checklist .controls a:hover {
	line-height:36px;
	color:#000;
	text-decoration:none;
	margin-left:10px;
}

.checklist .controls svg.icon {
	vertical-align:middle;
	height:24px;
	width:24px;
	position:relative;
	top:-3px;
}

.faded {
	opacity:0.25;
}

#search_tokens {
	margin-bottom:0px;
	padding-bottom:0px;
	display:none;
}
#search_tokens li {
	margin-left:auto;
	cursor:pointer;
}
#search_tokens li:first-child {
	margin-left:15px;
	margin-left:0.9375rem;
}
#search_tokens li:first-child:before {
	content:"Search history: ";
	font-weight:bold;
}
#search_tokens li:after {
	content:' › ';
}
#search_tokens li:last-child:after {
	content:'';
}
#search_tokens li {
	display:inline;
	list-style-type:none;
}

/*
Result list
*/

.notes {
	color: #795548 ;
	padding:10px;
	margin:0px;
}

/*ul.area_list {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}*/

ul.area_list li {
	list-style-type:none;
	padding:0px;
}
ul.area_list, div.results {
	max-width:80%;
	padding-left:0px;
	padding-right:0px;
	margin-left:auto;
	margin-right:auto;
}
.uomcontent [role="main"] section {
	padding-bottom:0px;
}
ul.area_list li, .uomcontent .collection table, .uomcontent .collection h2, .uomcontent p.notes, .uomcontent p.descendent_notice {
	max-width:100%;
	padding-left:0px;
	margin-left:0px;
	padding-right:0px;
}
.uomcontent p.notes + div table:first-child {
	margin-top:0px;
}
.uomcontent p.notes {
	padding-top:1.5rem;
}
.uomcontent .results h2 {
	padding:0px;
	margin:0px;
}
ul.area_list li .area {
	font-size:14px;
	background-color:#005185;
	line-height:22px;
	padding:12px 10px;
	padding-right:20px;
	margin-bottom:1.5rem;
}
ul.area_list li .area a {
	color:rgba(255,255,255,0.6);
	text-decoration:none;
}
ul.area_list li .area a:after {
	float:right;
	content:"view this area";
	text-decoration:underline;
	color:#FFF;
}
hr {
	margin-bottom:1.5rem;
}

/*.succeeds:before {
	height:1.5rem;
	margin-left:20px;
	content:' ';
	width:2px;
	display:block;
	background-color:#CCC;
	margin-bottom:-1.5rem;
	margin-top:-1.5rem;
}*/

table.contact_table.linked {
	border:2px solid #CCC;
}
table.contact_table.successor {
	margin-top:0px;
}
table.contact_table.primary {
	border:2px solid #0c304a;
}
tr.successor_note {
	border-bottom:3px solid #CCC;
}

.uomcontent .results li.child-summary {
	padding-left:5px;
	padding-right:5px;
}
.uomcontent li.child-summary ul li {
	display:none;
}
.uomcontent li.child-summary ul li:nth-child(-n+7), .uomcontent li.child-summary ul li:last-child {
	display:block;
}

.uomcontent .loading, .uomcontent .loading-blue {
	padding:0px;
	margin:0px;
}
.uomcontent [role='main'] p.spinner, .uomcontent [role="main"]>header:first-child p.spinner {
	height:32px;
	margin:0px;
	padding:0px;
	margin-bottom:-32px;
	text-align:center;
	max-width:none;
}

section.path h1 {
	width:80%;
	max-width:80%;
	font-size:20pt;
}

.uomcontent [role="main"] section h1.path {
	font-size:20pt;
}

.uomcontent [role="main"] section.navigation-block-listing {
	max-width:100%;
	padding:0px;
}

.uomcontent .collection-controls a {
	margin-right:10px;
}

[role="main"] form.upload-form {
	padding-bottom:100px;
}

.manager-lists .collection-manager.linked, .manager-lists .collection-successors .collection-manager {
	border:2px solid #CCC;
	padding:0px 10px;
}

.uomcontent [role="main"] section .manager-lists .successor, .uomcontent [role="main"] .successor-note {
  border-left: 2px solid #CCC;
  padding: 10px;
  margin-left: 20px;
}

.uomcontent [role="main"] .successor-note {
	margin-top:-1.5rem;
}

/*
Clipboard
*/

.clickable {
	cursor:pointer;
	white-space:nowrap;
}

.whiteout { 
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	color:#666;
	display:none;
	box-sizing:border-box;
	padding-top:100px;
	font-size:100px;
	text-align:center;
}