/* Stiziles */

a {
	text-decoration:none;
	color:#005aa2;
}

h2 {
	/*font-size:16pt;*/
	font-weight:bold;
	line-height:1.5;
	margin-bottom:10px;
}
h3 {
	font-weight:bold;
	line-height:2;
	font-size:12pt;
	padding:0px;
	padding-bottom:5px;
}

p, ul, li, td, th {
	font-size:10pt;
}

p {
	padding-bottom:0px;
}
ul {
	padding-bottom:0px;
}

hr {
	margin:10px;
}

/**
 * Main
 */

section, [role=main] section {
	width:960px;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
	padding-left:0px;
	padding-right:0px;
}

/**
 * Search form
 */

form {
	padding:0px;
}

form .search_box {
	border:1px solid #999;
	border-radius:5px;
	padding:5px;
	padding-bottom:0px;
	cursor:text;
	background-color:#FFF;
	min-height:50px;
	box-sizing:border-box;
}
form .spinner {
	text-align:center;
	padding-top:20px;
}
.search_box ul {
	display:inline;
	margin:0px;
	padding:0px;
	height:50px;
}
.search_box ul li {
	display:block;
	float:left;
	height:38px;
	line-height:38px;
	background-color:#556270;
	color:#fff;
	border-radius:3px;
	font-size:13pt;
	padding:0px 7px;
	margin-right:10px;
	cursor:pointer;
	margin-bottom:5px;
}
.search_box ul li:after {
	content:" › ";
}

.search_box input[type=text] {
	width:100px;
	float:left;
}
.search_box input[type=text], .search_shadow {
	font-size:16pt;
	box-sizing:border-box;
	/*display:inline;*/
	-webkit-appearance:none;
	border:none;
	height:38px;
	padding-left:3px;
}
.search_shadow {
	position:absolute;
	top:-9999px;
	left:-9999px;
}
input[type=text]:active, input[type=text]:focus {
	-webkit-appearance:none;
	outline:none;
}

/**
 * Descendents list
 */

.descendents {
	list-style-type:none;
	width:990px;
	position:relative;
	left:-15px;
	margin:0px;
	padding:0px;
}
.child-summary {
	box-sizing:border-box;
	display:block;
	float:left;
	width:300px;
	font-size:12pt;
	margin:15px;
	border:1px solid #CCC;
	height:300px;
	min-height:300px;
	overflow:hidden;
	position:relative;
	background-color:#F3F3F3;
}
.child-summary > div {
	padding:10px;
	padding-bottom:35px;
}
.descendents .child-summary:nth-child(3n+1) {
	clear:left;
}
.child-summary .show-more {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	background-color:#CCC;
	padding:5px;
	text-align:center;
	cursor:pointer;
}
hr.clear {
	float:none;
	clear:both;
	border:none;
	height:1px;
	margin-bottom:-1px;
}

.descendents li {
	padding:0px;
}

/**
 * Results list
 */

.notes {
	border: 1px solid #ffe082 ;
	color: #795548 ;
	background-color: #ffecb3 ;
	padding: 4px;
}

ul.area_list {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

ul.area_list li {
	list-style-type:none;
	margin-bottom:5px;
	padding:0px;
}
ul.area_list li .area {
	font-size:12pt;
	margin-bottom:5px;
}
ul.area_list li.unhighlighted .contacts {
	display:none;
}

ul.area_list .search_result {
	font-size:14pt;
}

.descendent_notice {
	font-weight:bold;
	color:#933;
}

/*.highlighted, .unhighlighted {
	border-left:5px solid;
}
.highlighted {
	border-left-color:#66F;
}
.unhighlighted {
	border-left-color:#CCC;
}*/
.unhighlighted a.search_result {
	/*border-bottom:3px solid;*/
	color:#666;
}
.hidden {
	display:none;
}

.child_area .child_area h3 {
	font-size:0.9em;
}
.child_area .child_area .child_area h3 {
	font-size:0.8em;
}
.child_area .child_area .child_area .child_area h3 {
	font-size:0.7em;
}

.clickable {
	cursor:pointer;
}

.whiteout { 
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#FFF;
	color:#666;
	display:none;
	box-sizing:border-box;
	padding-top:100px;
	font-size:100px;
	text-align:center;
}

/**
 * Table.
 */
table, td, th {
	border:1px solid #666;
	border-color:#999;
	font-size:10pt;
}
table {
	text-align:left;
	border-width:1px 1px 0px 0px;
	width:100%;
}
td, th {
	padding:3px;
	border-width:0px 0px 1px 1px;
}

table.contact_table.successor tr:first-child td, .descendent_notice {
	background-color:#ffccbc;
	color:#b0120a ;
	padding: 4px;
}

.descendent_notice {
	border:1px solid #C66;
	padding:3px;
}
tr:nth-child(2n+1), table.contact_table.successor tr:nth-child(2n) {
	background-color:#DDDDDD;
}
table.contact_table.successor tr:nth-child(2n+1), tr:nth-child(2n) {
	background-color:#F3F3F3;
}

th {
	/*font-weight: 700;*/
	/*border-bottom-width:2px;*/
	background-color:#CCD0DD;
}

.collection {
	padding-bottom:5px;
}
.contact_table, .notes {
	margin-bottom: 1.5rem;
}

ul {
	list-style-type:disc;
	margin-left:10px;
	padding-left:10px;
}